.wrapper__content {
    display: flex;
    flex-direction: column;
}

.wrapper__content-header {
    min-width: 1000px;
    min-height: 42px;

    justify-content: space-between;
    display: flex;

}
.wrapper__content-main{
    min-height: 490px;
    min-width: 1000px;



    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
.wrapper__content-last{
    min-width: 1618px;
    min-height: 4800px;

}

.search__form input[type="text"]{
    margin: 0;
    padding: 0;
    width: 728px;
    height: 36px;
    border: 2px solid #ffdb4d;
    outline: none;
    font-size: 100%;
    position: relative;
}
.search__form-submit input{
    width: 88px;
    font-size: 16px;
    line-height: 36px;
    outline: none;
    border: 1px solid #ffdb4d;
    background: #ffdb4d;
}
.search__form-submit {
    position: relative;
}
.search__form-submit label::after{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    clip-path: polygon(100% 50%, 68% 0, 69% 100%);
    background: #ffdb4d;
    position: absolute;
    top: 0;
    right: -12px;
}

.search__form{
    display: flex;
    position: relative;
}
.search-logo{
    position: absolute;
    top: -35px;
    left: -160px;
}
.search__form-description{
    position: absolute;
    left: 0;
    bottom: -23px;
}
.services__item{

}
.services__item img{
    margin: 0 20px;
}
.services__item-title{
    text-align: center;
}

.main__news{
    display: flex;
    padding-left: 40px;
}
.main__services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main__search{
    display: flex;
    align-self: flex-start;
    position: relative;
    margin: 0 auto;
}
.news__container{
    display: flex;
    flex-direction: column;
}
.news__head {
    display: flex;
    margin-bottom: 12px;
}
.head__item-link{
    font-size: 19px;
    margin-right: 10px;
}
.news__stocks{
    display: flex;
    margin-top: 12px;
    margin-bottom: 20px;
}
.stocks__item{
    margin-right: 10px;
}

.link{
    text-decoration: none;
}
.link:active{
    color: black;
}

.list__item:not(:last-child) {
    margin-bottom: 5px;
}
.list__item {
    max-width: 584px;
    font-size: 14px;
    padding-right: 65px;
}
.news__ad{
    min-height: 166px;
    max-width: 248px;
    padding-left: 22px;
}